
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RecruitmentApp</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/customers">CUSTOMERS</a></li>
      <li routerLinkActive="active"><a routerLink="/features">FEATURES</a></li>
      <li routerLinkActive="active"><a routerLink="/pricing">PRICING</a></li>
      <li routerLinkActive="active"><a routerLink="/resources">RESOURCES</a></li>
      <li routerLinkActive="active"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span>SIGNUP</a></li>
      <li routerLinkActive="active"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
    </ul>
  </div>
</nav>



