<div class="intro-content">
<section class="intro features-landing">
  <div class="intro__details container">
    <div class="intro__wrapper">
      <h1>Features</h1>
      <p class="small-text">
        <strong>Everything you need for a more effective hiring process</strong>
      </p>
      <a class="btn--primary" href="#">View all features</a>
    </div>
  </div>
</section>
<section class="bg-grey">
  <div class="content-wrapper container">
    <section>
      <p class="intro-light no-margin centered">
        From sourcing candidates to managing applications,HRMA recruiting software
        <br class="visible-md visible-lg">
        provides intuitive tools to streamline your recruiting process.
      </p>
    </section>
    <section class="section-padding row">
      <div class="container">
        <a href="#">
          <div class="col-xs-12 col-sm-6 col-md-4 box-holder box-holder--features">
            <div class="features-box1 features-box--candidate-sourcing">
              <h4>Candidate sourcing</h4>
              <p class="smaller-text">Getting the right candidates is the most effective route to a great hire</p>
              <div class="btn--border-white">view candidate sourcing</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="col-xs-12 col-sm-6 col-md-4 box-holder box-holder--features">
            <div class="features-box2 features-box--applicant-tracking colored-box--teal">
              <h4>Applicant tracking</h4>
              <p class="smaller-text">Making decisions is easier with the right information at your fingertips</p>
              <div class="btn--border-white">view applicant tracking</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="col-xs-12 col-sm-6 col-md-4 box-holder box-holder--features box-holder--last">
            <div class="features-box3 features-box--talent-crm">
              <h4>Talent CRM</h4>
              <p class="smaller-text">Timely communication is the key to nurturing candidate relationships</p>
              <div class="btn--border-white">view talent CRM</div>
            </div>
          </div>
        </a>
        <br class="visible-md visible-lg">
        <a href="#">
          <div class="col-xs-12 col-sm-6 box-holder box-holder--features">
            <div class="features-box4 features-box--bubbles-graphic">
              <h4>Team collaboration</h4>
              <p class="smaller-text">Get hiring teams onboard faster with intuitive tools, and the flexibility to work from anywhere.</p>
              <div class="btn--border-white">view team collaboration</div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="col-xs-12 col-sm-6 box-holder box-holder--features box-holder--last">
            <div class="features-box5 features-box--flexible-secure">
              <h4>Flexible and secure</h4>
              <p class="smaller-text">
                Over 6000 companies in 88 countries use Workable to hire
                <br class="visible-md visible-lg">
                with confidence
              </p>
              <div class="btn--border-white">view flexibility and security</div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section>
      <div class="is-padded cta-banner cta-banner--white">
        <div class="is-padded">
          <div class="container centered">
            <div class="col-sm-5 vertical-centered">
              <h3>Get a demo</h3>
              <p class="small-text">
                See how Cocosoft streamlines
                <br class="visible-lg">
                the hiring process.
              </p>
              <a class="btn-border" href="#">Get a demo</a>
            </div>
            <div class="col-sm-2 vertical-bordered vertical-centered hidden-xs">
              <span class="small--bold"></span>
            </div>
            <div class="col-xs-12 horizontal-bordered visible-xs"></div>
            <div class="col-sm-5 vertical-centered">
              <h3>Start a free trial now</h3>
              <p class="small-text color-light-grey">
                Try this free for 15 days,
                <br class="visible-lg">
                no credit card required.
              </p>
              <a class="btn-fill" href="#">Free trial</a>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</section>
</div>
