   <div>
     <div>
        <div class="advertise">
           <div>
              <div class="grid mt-xxl relative">
                 <div class="grid__cell">
                    <div class="alert">
                       <div>
                          <span>
                          <span><strong>STATUS: This job is still draft and not visible yet to the public.</strong>
                          To post it to 10 free job boards, you need to </span>
                          <span>
                          <span><strong><span class="confirmation faux-link">publish it</span></strong>
                          </span>
                          </span>
                          <span></span>
                          </span>
                       </div>
                    </div>
                    <div>
                       <div>
                          <div class="mb-l mt-l">
                             <div>
                                <div class="pull-right"></div>
                                <div class="self-clear">
                                   <h6 class="muted heading-caps">Free Job Boards</h6>
                                </div>
                             </div>
                             <p class="mt-s"></p>
                          </div>
                          <div class="grid-flex job-boards-container">
                             <div class="grid-flex__cell one-fourth">
                                <div class="card">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section"></div>
                                         <div class="flag__section flag__section--tight">
                                            <i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Indeed" data-content="Indeed is the #1 job site worldwide, with over 80 million unique visitors and 1.5 billion job searches per month. Indeed is available in more than 50 countries and 26 languages, covering 94% of global GDP." data-original-title="Indeed" data-ui="icon-info" title="Indeed"></i>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                   <a href="#"><img src="assets/Images/Advertise/indeed.png" alt="Indeed" rel="tooltip" title="Indeed"></a>     
                                         <div class="card__partner-details muted">
                                         </div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="LinkedIn" data-content="Your jobs will be distributed to LinkedIn as limited listings and appear in their search results. Upgrade to LinkedIn Jobs if you’d like to have full distribution across LinkedIn and premium placement in LinkedIn search." data-original-title="LinkedIn" data-ui="icon-info" title="LinkedIn"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/linkedin.png" alt="LinkedIn" rel="tooltip" title="" data-original-title="LinkedIn">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Glassdoor" data-content="Glassdoor is a career community that is changing the way people find jobs and companies recruit top talent. Members can see the latest job listings, as well as get access to proprietary user-generated content." data-original-title="Glassdoor" data-ui="icon-info" title="Glassdoor"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/glassdoor.png" alt="Glassdoor" rel="tooltip" title="" data-original-title="Glassdoor">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="trovit-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Trovit" data-content="Trovit is a leading classified ads search engine and makes the whole searching process a walk in the park for its users. By publishing on Trovit you will benefit by receiving direct, quality traffic to your jobs." data-original-title="Trovit" data-ui="icon-info" title="Trovit"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/trovit.png" alt="Trovit" rel="tooltip" title="Trovit">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="recruitnet-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Recruitnet" data-content="Recruit.net is the leading job search engine in Asia Pacific performing more than a million job searches per day. With 14 localised websites, in 6 major languages, they give job seekers free access to millions of jobs from thousands of company websites and job boards." data-original-title="Recruitnet" data-ui="icon-info" title="Recruitnet"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/recruitnet.png" alt="Recruitnet" rel="tooltip" title="Recruitnet">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="jobisjob-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="JobisJob" data-content="Listing your offers on JobisJob allows you to reach new audiences. JobisJob drives high-quality potential applicants to your site and delivers clicks that convert. JobisJob operates in 22 different countries worldwide." data-original-title="JobisJob" data-ui="icon-info" title="JobisJob"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/jobisjob.png" alt="JobisJob" rel="tooltip" title="JobisJob">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="adzuna-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Adzuna" data-content="Adzuna is the fastest growing job search engine worldwide, reaching 4 million UK visits a month in just 2.5 years and is rapidly matching this success in 10 additional countries. We are trusted by thousands of companies to ensure high quality, relevant candidates find and apply to their jobs. We are the only aggregator to display your brand in search results." data-original-title="Adzuna" data-ui="icon-info" title="Adzuna"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/adzuna.png" alt="Adzuna" rel="tooltip" title="Adzuna">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="career_jet-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Careerjet" data-content="Careerjet drives relevant candidates to your jobs and lands you the right people, in time. Careerjet has developed - and refined over 10 years - a powerful proprietary algorithm which generates valuable candidate leads." data-original-title="Careerjet" data-ui="icon-info" title="Careerjet"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/career_jet.png" alt="Careerjet" rel="tooltip" title="Careerjet">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="jooble-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="Jooble" data-content="Jooble displays job postings indexed from thousands of job boards, companies&#39;​ websites, digital newspapers and recruitment agencies. Its targeted audience reach is about 160 million candidates." data-original-title="Jooble" data-ui="icon-info" title="Jooble"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/jooble.png" alt="Jooble" rel="tooltip" title="Jooble">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="grid-flex__cell one-fourth" data-ui="zip_recruiter_free-card-unselected">
                                <div class="card card--disabled">
                                   <div class="card__header">
                                      <div class="flag">
                                         <div class="flag__section">
                                            <small> 
                                            </small>
                                         </div>
                                         <div class="flag__section flag__section--tight"><i class="icon-info" rel="popover" data-placement="top" data-html="true" data-title="ZipRecruiter" data-content="ZipRecruiter is the fastest-growing online employment marketplace, connecting millions of employers and job seekers through innovative mobile, web, and email services." data-original-title="ZipRecruiter" data-ui="icon-info" title="ZipRecruiter"></i></div>
                                      </div>
                                   </div>
                                   <div class="card__section muted wrapper-s">
                                      <div class="card__partner">
                                         <img src="assets/Images/Advertise/zip_recruiter_free.png" alt="ZipRecruiter" rel="tooltip" title="ZipRecruiter">
                                         <div class="card__partner-details muted"></div>
                                      </div>
                                   </div>
                                </div>
                             </div> 
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="hide">
                    <ul class="panel-gray unstyled cart" data-ui="cartContainer" style="height: auto;">
                       <li class="panel-gray__section">
                          <div class="flag">
                             <div class="flag__section delta"><strong>Your cart</strong></div>
                              </div>
                       </li>
                       <li class="panel-gray__section cart__body" style="max-height: 100%;">
                          <div>
                             <div class="text-center mt-m">
                                <svg class="svg--64">
                                   <use xlink:href="#icon-cart-empty"></use>
                                </svg>
                             </div>
                             <div class="muted delta mt-l"><strong>Your cart is currently empty</strong></div>
                             <p class="mt-xs">Choose job postings from one or more boards to add them to your cart.</p>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>    
    <div>
  </div>
  </div>
