<div class="homepage pricing">
<section class="section-padding border-top">
<div class="container">
<h1>Pricing plans</h1>
</div>
</section>
<section class="section-padding section-pricing-plans">
<div class="container content-wrapper">
<div class="row">
<div class="col-xs-12 col-sm-4 pricing-plan style_prevu_kit">
<div class="pricing-plan__header is-padded-m centered-to-l border-bottom">
<h2 class="bold-title">Pay As You Go</h2>
<p class="small-text-lh-28 color-grey">A flexible, pay-as-you-go plan, $50 per job, per month, billed monthly.</p>
<a class="btn btn--47 btn--primary-spaced" href="#">try it for free</a>
</div>
<div class="pricing-plan__content">
<div class="pricing-plan__body">
<div class="is-padded-m matched-height" style="height: 326px;">
<ul class="list-checkmark list-checkmark--black smaller-text color-grey no-margin">
<li>180+ Free &amp; Premium job boards</li>
<li>Branded careers page</li>
 
</ul>
</div>
</div>
<div class="pricing-plan__footer border-top is-padded-sm">
<p class="smaller-text no-margin color-grey">
<a href="#">Try to free</a>
for 15 days,
<br class="hidden-xs hidden-sm">
no credit card required
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-4 pricing-plan">
<div class="pricing-plan__header is-padded-m centered-to-l border-bottom">
<h2 class="bold-title">Starter</h2>
<p class="small-text-lh-28 color-grey">A complete system for companies looking to streamline their hiring process.</p>
<a class="btn btn--47 btn--primary-spaced" href="#">try it for free</a>
</div>
<div class="pricing-plan__content">
<div class="pricing-plan__body">
<div class="is-padded-m matched-height" style="height: 300px;">
<p class="smaller-text color-grey no-margin">
<strong>Everything in Pay As You Go plus:</strong>
</p>
<ul class="list-checkmark list-checkmark--black smaller-text color-grey padding-t-10 no-margin">
<li>Interview kits &amp; scorecards</li>
 
</ul>
</div>
</div>
<div class="pricing-plan__footer border-top is-padded-sm">
<p class="smaller-text no-margin color-grey">
<a href="">Try to free</a>
for 15 days,
<br class="hidden-xs hidden-sm">
no credit card required
</p>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-4 pricing-plan">
<div class="pricing-plan__header is-padded-m centered-to-l border-bottom">
<h2 class="bold-title">Pro</h2>
<p class="small-text-lh-28 color-grey">A customizable ATS with premium features and integrations.</p>
<a class="btn btn--47 btn--primary-spaced" data-ui="pro_plan_button" href="#">Contact us</a>
</div>
<div class="pricing-plan__content">
<div class="pricing-plan__body">
<div class="is-padded-m matched-height" style="height: 326px;">
<p class="smaller-text color-grey no-margin">
<strong>Everything in Starter plus:</strong>
</p>
<ul class="list-checkmark list-checkmark--black smaller-text color-grey padding-t-10 no-margin">
<li>Advanced reporting suite</li>
<li>Customizable hiring pipelines</li> 

</ul>
</div>
</div>
<div class="pricing-plan__footer border-top is-padded-sm">
<p class="smaller-text no-margin color-grey">
<a data-ui="quote_link" href="#">Contact us</a>
for a quote
<br class="hidden-xs hidden-sm">
or to arrange a demo.
</p>
</div>
</div>
</div>
</div>
<div class="row pricing-plan custom-plan">
<div class="row pricing-plan__content holder-flex-to-block-md is-padded-m">
<div class="col-xs-12 col-md-8">
<h2 class="bold-title">Custom solutions</h2>
<p class="smaller-text no-margin color-grey">A bespoke solution designed and implemented for your organization. Best for companies with multiple divisions or subsidiaries, or for custom integrations, rollout and support requirements.</p>
</div>
<div class="col-xs-12 col-md-4 centered-to-l padding-t-20">
<a class="btn btn--47 btn--primary-spaced" data-ui="custom_plan_button" href="#">Contact us</a>
</div>
</div>
</div>
</div>
</section>
<section class="section-padding">
<div class="container" id="form-container">
<div class="row centered-to-l-xs content-wrapper">
<span class="pricing-icon pricing-icon--plan hidden-xs"></span>
<h5 class="small-uppercase--bold color-grey margin-b-20">Using CocoSoft</h5>
<h2 class="semibold">Contact us for a quote</h2>
</div>
<div class="row centered-to-l-xs col-xs-12 col-md-10 col-md-offset-1">
<p class="small-text-lh-28 color-grey margin-b-30">
Fill the given info and make request for access.
<br class="visible-md visible-lg"> 
</p>
</div>
<div class="row">
<div class="col-md-12 col-md-offset-1"> 
  <form data-ui="pricing_form">
    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="YbKuM4FSZiNaReOvCNV3NUUVMAndsz6+6z3OwJDt4J2E0u40lvi7+8gAJJ9RLbV4gfsa+IYRK6iV3jb2Rt6V0w==">
<div class="row">
<div class="col-xs-12 col-sm-5 margin-b-30">
<div class="first">
<label for="first_name">First Name</label>
<input data-ui="first_name" maxlength="40" name="first_name" type="text">
</div>
</div>
<div class="col-xs-12 col-sm-5 margin-b-30" >
<div class="second">
<label for="last_name">Last Name</label>
<input data-ui="last_name" maxlength="80" name="last_name" size="20" type="text">
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-5 margin-b-30">
<div class="first">
<label for="email">Work Email</label>
<input data-ui="email" maxlength="80" name="email" size="20" type="text">
</div>
</div>
<div class="col-xs-12 col-sm-5 margin-b-20">
<div class="second">
<label for="phone">Phone</label>
<input data-ui="phone" maxlength="80" name="phone" size="20" type="text">
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-5 margin-b-30">
<div class="first">
<label for="company_name">Company Name</label>
<input data-ui="company_name" maxlength="40" name="company_name" size="20" type="text">
</div>
</div>
<div class="col-xs-12 col-sm-5 margin-b-30">
<div class="second">
<label for="company_website">Company Website</label>
<input data-ui="company_website" maxlength="40" name="company_website" placeholder="http://www.example.com" size="20" type="text">
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-5 wrapper-dd-1 margin-b-30" id="">
  <div class="first">
    <label>Company Size</label>

    <select class="form-control">
        <option>1-50 Employees</option>
        <option>51-250 Employees</option>
        <option>251-500 Employees</option>
        <option>501-1000 Employees</option>
        <option> 1001-5000 Employees</option>
        <option>5000+ Employees</option> 
      </select> 

    </div>
</div>
<div class="col-xs-12 col-sm-5 wrapper-dd-2 margin-b-30" id="dd-2-wrapper">
<div class="second">
<label>Growth Plans</label>
  <select class="form-control">
    <option>Fast Growth: over 50%</option>
    <option>Growing: 15-50%</option>
    <option>Normal turnover</option>
    <option>We are a staffing firm</option>
    <option>I don't know</option> 
  </select>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-10 margin-b-30">
<label for="description">Your comments (optional)</label>
<textarea data-ui="description" name="description"></textarea>
</div>
</div>
<div class="row hide">
<div class="col-md-10 margin-b-30">
<label for="pardot_extra_field">More comments (optional)</label>
<input data-ui="pardot_extra_field" maxlength="80" name="pardot_extra_field" size="20" type="text">
</div>
</div> 
<div class="row col-xs-10 centered-to-l-xs">
<button class="btn btn--primary-spaced" type="submit">Request for quote</button>
</div>
</form>

</div>

</div>
</div>
</section>
<section class="bg-grey section--pricing-features">
<div class="container">
<div class="row centered-to-l-xs content-wrapper">
<span class="pricing-icon pricing-icon--features hidden-xs"></span>
<h5 class="small-uppercase--bold color-grey margin-b-20">All-in-one recruiting software</h5>
<h2 class="semibold">Key CocoSoft features</h2>
</div>
<div class="row content-wrapper">
<ul class="list-inline">
<li class="col-sm-6 col-md-4 is-padded-sm">
<h4 class="semibold">Job advertising</h4>
<p class="small-text color-grey no-margin">Job syndication to over 180 free and premium job boards</p>
</li>
<li class="col-sm-6 col-md-4 is-padded-sm">
<h4 class="semibold">Careers pages</h4>
<p class="small-text color-grey no-margin">Mobile optimized careers pages and custom job application forms</p>
</li>
 
<li class="col-sm-6 col-md-4 is-padded-sm">
<h4 class="semibold">Mobile recruiting</h4>
<p class="small-text color-grey no-margin">Apps for Android and iOS, and mobile web app for other devices</p>
</li>
 
</ul>
</div>
<div class="row centered-to-l-xs padding-t-20">
<a class="btn btn--primary" href="">View all features</a>
</div>
</div>
</section> 
</div>